@media (min-width: 1200px) {

    .col-lg-3 {
        width: 25%;
    }

}

@media (min-width: 992px) and (max-width: 1199){

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991){

    .col-md-sm-6 {
        width: 50%;
    }
}

@media (max-width: 767){
    .col-sm-12{
        width: 100%;
    }
}

h1{ 
    font-size: 24px;   
    text-align: center;


}  

.rw {
    display: flex; 
    text-align: left;

}
.block1{
    background-color: rgb(255, 0, 0); 
    margin: 1px;
    border: 1px solid black;  
    display: flexbox;
  display: flex;
flex-direction: column-reverse;
flex-wrap: wrap;
} 
.block2{
    background-color: rgb(251, 255, 0); 
    margin: 1px;
    border: 1px solid black;  
    display: flexbox;
  display: flex;
flex-direction: column-reverse;
flex-wrap: wrap;
} 
.block3{
    background-color: rgb(255, 0, 191); 
    margin: 1px;
    border: 1px solid black;  
    display: flexbox;
  display: flex;
flex-direction: column-reverse;
flex-wrap: wrap;
} 
.block4{
    background-color: rgb(81, 255, 0); 
    margin: 1px;
    border: 1px solid black;  
    display: flexbox;
  display: flex;
flex-direction: column-reverse;
flex-wrap: wrap;
} 
.nam1{  
    background-color: rgb(217, 255, 0);
    display: block;
    margin: 1px;
    border: 1px solid black; 
    width: 100px;

} 
.nam2{ 
    background-color: rgb(0, 255, 191);
    display: block;
    margin: 1px;
    border: 1px solid black;  
    width: 100px;
} 
.nam3{
    background-color: rgb(255, 0, 157);
    display: block;
    margin: 1px;
    border: 1px solid black; 
    width: 100px;
} 
.nam4{
    background-color: rgb(255, 251, 0);
    display: block;
    margin: 1px;
    border: 1px solid black; 
    width: 100px;
} 
li{
    color: rgb(0, 26, 255);
} 
th,td{
    color: rgb(229, 255, 0)
} 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
