.blok1{
    background-color: antiquewhite;
    display: flex;
    margin: 1px;
    border: 1px solid black;
} 
.blok2{
    background-color: rgb(236, 181, 108);
    display: flex;
    margin: 1px;
    border: 1px solid black;
} 
.blok3{
    background-color: rgb(255, 145, 0);
    display: flex;
    margin: 1px;
    border: 1px solid black;
} 
.blok4{
    background-color: rgb(229, 250, 0);
    display: flex;
    margin: 1px;
    border: 1px solid black;
} 
.tx1{
    background-color: rgb(0, 4, 235);
    display: block;
    margin: 1px;
    border: 1px solid black;
}
.tx2{
    background-color: rgb(216, 0, 235);
    display: block;
    margin: 1px;
    border: 1px solid black;
}
.tx3{
    background-color: rgb(235, 0, 0);
    display: block;
    margin: 1px;
    border: 1px solid black;
}